

<div class="col-10 offset-1 about">
<h1>About Splurty</h1>




<p>Splurty was built by <a target="_blank" href="http://github.com/firehosestudent">Jonny Phun</a>. A web Developer who is also an avid season ticket holder of the Toronto Maple Leafs.
</p>
  

<p>
  He also enjoys coding and creating useful software
</p>


<p>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.

</p>

<br />
<br />



  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag "confucius.jpg", class: "img-fluid" %>
      
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">JonnyPhun</h2>
      <br />
      <p>Jonny Phun is a Web Developer at The Firehose Project</p>
      

    </div>
    
  </div>

  <br class="clear" />

  <br />
  <br />

  <div class="row">

    <div class="col-12 col-sm-4" style="padding-top: 30px;">
      <%= image_tag "lao.jpg", class: "img-fluid" %>
      
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alvin Phun</h2>
      <br />

      <p>

        Alvin Phun is a web developer at The Firehose Project (<a target="_blank" href="http://thefirehoseproject.com">Firehose</a>) and was previously a part of the business development team at a software company helping construction companies transition to the cloud.    


      </p>
      
    </div>
    



  </div>

  <br class="clear"  />
  <br />
  <br />
  <br />
  <br />


</div>


