

<div class="col-10 offset-1 about">
<h1>About Splurty</h1>




<p>Splurty was built by <a target="_blank" href="http://github.com/firehosestudent">Jonny Phun</a>. A web Developer who is also an avid season ticket holder of the Toronto Maple Leafs.
</p>
  
<br />

<p>
  He also enjoys coding and creating useful software
</p>


<p>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.

</p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag "jonny.jpg", class: "img-fluid" %>
      
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">JonnyPhun</h2>
      <br />
      <p>Jonny Phun is a Web Developer at Facebook</p>
      

    </div>
    
  </div>

  <br class="clear" />

  <div class="row">

    <div class="col-12 col-sm-4" style="padding-top: 30px;">
      <%= image_tag "alvin.jpg", class: "img-fluid" %>
      
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">alvin phun</h2>
      <br />

      <p>

        alvin phun is a web developer for Oracle. Previously he was a web developer at Paypal (<a target="_blank" href="http://paypal.com">Paypal</a>) and a member of the Groupon web development team.  


      </p>
      
    </div>
    



  </div>

  <br class="clear"  />
  <br />
  <br />
  <br />
  <br />


</div>


